body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0;
  background-color: #f0f0f0;
}

#message {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: 700;
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-size: 2em;
  font-family: "Orbitron", sans-serif;
  font-weight: bold;
  margin: 10px 0px 50px 0px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.super-board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  max-width: 70vw;
  width: 90vw;
  min-height: 100vh;
  border: 10px solid #c0c0c0;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2px;
  background-color: #eee;
  border: 5px solid #333;
}

.cell {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4vw;
  cursor: pointer;
  border: 1px solid #ccc;
}

.xfont {
  color: #f21717;
}
.ofont {
  color: blue;
}
.X {
  font-weight: bold;
  color: white;
  background-color: red;
}
.O {
  font-weight: bold;
  color: white;
  background-color: blue;
}

/* .cell:hover {
  background-color: #f0f0f0;
} */

.cell:not(:last-child) {
  border-right: none;
  border-bottom: none;
}

.winner {
  font-weight: bold;
  color: #fff;
}

.cell.winner {
  background-color: #f21717;
}
.white {
  color: white;
}

button {
  font-size: 1em;
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background-color: #45a049;
}

button:active {
  background-color: #3e8e41;
  transform: translateY(1px);
}

@media screen and (max-width: 600px) {
  #message {
    top: 70px;
  }
  .super-board {
    max-width: 90%;
    width: 90%;
    min-height: 70vh;
    border: 5px solid #c0c0c0;
  }
  .board {
    border: 2.5px solid #333;
  }

  .cell {
    font-size: 6vw;
  }
}

.active-cell {
  background-color: #66ff99;
}
